body {
    background-image: url('Images/background.png');
    background-size: cover;
    background-position: top;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.topnavbar  {
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Style for navigation bar */
.topnavbar ul {
    list-style-type: none;
    background-color: rgb(39, 39, 39);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.topnavbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.topnavbar a:hover {
    background-color: black;
}

.topnavbar li {
    float: left;
}

.projectsdropdown {
    width: auto;
    background: rgb(39, 39, 39);
    position: absolute;
    
    display: none;
}

.topnavbar li:hover  ul.projectsdropdown {
    display:inline-flex;
    flex-direction: column;
}

.topnavbar .profilelinks {
    display: flex;
    padding: 12px;
    float: right;
}

.topnavbar .link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-left: 20px;
}

.offset {
    position: fixed;
    top: 0;
    width: 100%;
}

.offset + main {
    padding-top: 60px;
}

/* Style for videos and hyperlinks in home page */
#homepageprojects {
    margin: 20px 20px;
}

#homepageprojects video {
    display: block;
    margin: auto;
    max-width: 50%;
    height: auto;
}

#homepageprojects a {
    display: block;
    margin: auto;
    width: fit-content;
    padding-bottom: 15px;
    color: white;
    text-align: center;
    font-size: 25px;
}

/* Style for home page header */
#homeheader {
    color: whitesmoke;
    padding-left: 10px;
}

#homeheader .careersubtext {
    font-weight: bold;
}

/* Style for dividers*/
.divider {
    width: 80%;
    color: whitesmoke;
}

/* Style for header in project pages */
.projectheader {
    color: whitesmoke;
    text-align: center;
    line-height: 1em;
}

.projectheader h2 {
    padding-top: 10px;
    font-size: 30px;
}

/* Style for About page */
#aboutheader {
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0%;
}

#aboutdesc {
    background: rgb(30, 30, 30);
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    font-size: 18px;
    margin-left: 36%;
    margin-right: 36%;
    line-height: 1.6em;
}

/* Style for text in project pages*/
.projectbody {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    line-height: 1.5em;
}


.projecttext {
    background: rgb(30, 30, 30);
    padding: 12px;
    color: whitesmoke;
    max-width: 45%;
}

.textheader {
    margin-bottom: 5px;
    margin-top: 10px;
}

.textlist {
    margin-top: 0;
}

.textlist li {
    padding-bottom: 3px;
}

.additionalprojectinfo {
    background: rgb(30, 30, 30);
    padding: 12px;
    color: whitesmoke;
    margin-top: 20px;
}

.projecttext ul {
    margin: 0px;
    padding-bottom: 10px;
}

.projecttext a{
    color: rgb(72, 134, 184);
}

.projectreflection {
    text-align: left;
    text-indent: 3%;
    margin-top: 0%;
    line-height: 1.6em;
}

.videocarousel {
    position: relative;
    max-width: 50%;
    float: right;
}

.carousel_item {
    padding: 1em;
    padding-top: 0;
    display: none;
}

.carousel_item--selected {
    display: block;
}

.carousel_item--selected video {
    max-width: 100%;
    border: 2px solid white;
}

.carousel_item--selected small {
    color: whitesmoke;
    font-size: 14px;
}

.carousel_nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel_button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
}

.carousel_button_prev {
    top: 50%;
    right: 100%;
    position: absolute;
    display: flex;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(255, 255, 255);
    position: absolute;
    cursor: pointer;
}

.carousel_button_next {
    top: 50%;
    left: 100%;
    position: absolute;
    display: flex;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(255, 255, 255);
    cursor: pointer;
}

.carousel_button--selected {
    background: rgba(255, 255, 255, 0.5);
}

#projectvideo {
    margin-left: 40px;
    max-width: 50%;
    float: right;
    border: 2px solid white;
}