body {
    background-image: url('Images/background.png');
    background-size: cover;
    background-position: top;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}


.topnavbar ul {
    list-style-type: none;
    background-color: rgb(39, 39, 39);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.topnavbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.topnavbar a:hover {
    background-color: black;
}

.topnavbar li {
    float: left;
}

.projectsdropdown {
    width: auto;
    background: rgb(39, 39, 39);
    position: absolute;
    z-index: 999;
    display: none;
}


.topnavbar li:hover  ul.projectsdropdown {
    display:block;
}


#homepageprojects {
    padding-top: 15px;
    padding-bottom: 15px;
}

#homepageprojects video {
    display: block;
    margin: 0 auto;
}

#homepageprojects a {
    display: block;
    color: white;
    text-decoration: underline;
    padding: 15px;
    text-align: center;
}