body {
    background-image: url('Images/background.png');
    background-size: cover;
    background-position: top;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* Style for navigation bar */
.topnavbar ul {
    list-style-type: none;
    background-color: rgb(39, 39, 39);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.topnavbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.topnavbar a:hover {
    background-color: black;
}

.topnavbar li {
    float: left;
}

.projectsdropdown {
    width: auto;
    background: rgb(39, 39, 39);
    position: absolute;
    z-index: 999;
    display: none;
}

.topnavbar li:hover  ul.projectsdropdown {
    display:grid;
}

.topnavbar .profilelink {
    float: right;
}

.offset {
    position: fixed;
    top: 0;
    width: 100%;
}

.offset + main {
    padding-top: 60px;
}

/* Style for videos and hyperlinks in home page */
#homepageprojects {
    margin-bottom: 3%;
}

#homepageprojects video {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}

#homepageprojects a {
    display: block;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
}

/* Style for home page header */
#homeheader {
    color: whitesmoke;
    padding-left: 10px;
}

/* Style for dividers*/
.divider {
    width: 80%;
}

/* Style for header in project pages */
.projectheader {
    color: whitesmoke;
    text-align: center;
    line-height: 1em;
}

.projectheader h2 {
    padding-top: 10px;
    font-size: 30px;
}

/* Style for About page */
#aboutheader {
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0%;
}

#aboutdesc {
    background: rgb(63, 63, 63);
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
    margin-left: 28%;
    margin-right: 28%;
}

/* Style for text in project pages*/
.projectbody {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5em;
}


.projecttext {
    background: rgb(63, 63, 63);
    padding: 12px;
    color: whitesmoke;
    max-width: 45%;
}

.projecttext ul {
    margin: 0px;
    padding-bottom: 10px;
}

.projecttext a{
    color: rgb(72, 134, 184);
}

.projectreflection {
    text-align: left;
    text-indent: 3%;
    margin-top: 0%;
}

#projectvideo {
    margin-left: 40px;
    max-width: 50%;
    height: auto;
    float: right;

}